// Default

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #74b9ff;
}


// App

.wrap {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedede;
}

.tabs {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__button {
    flex-grow: 1;
    position: relative;
    border: 2px solid #5896ff;
    padding: 10px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    outline: none;

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:not(:first-child) {
      margin-left: -2px
    }

    &--active {
      background-color: #5896ff;
      color: #fff;
      pointer-events: none;
    }

    &:hover:not(&--active) {
      background-color: transparentize(#5896ff, .9);
    }

    &:focus {
      box-shadow: 0 0 0 2px transparentize(#5896ff, .6);
      z-index: 10;
    }
  }
}

.select {
  display: block;
  width: 100%;
  border: 2px solid #5896ff;
  padding: 10px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
  outline: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    background-color: transparentize(#5896ff, .9);
  }

  &:focus {
    box-shadow: 0 0 0 2px transparentize(#5896ff, .6);
    z-index: 10;
  }
}
